/**
 * @file src/components/shop/shared.module.css
 */

.grid {
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-6);
  display: grid;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
